flask
flask-cors
numpy
scipy
librosa
pillow
soundfile
zlib-ng
gunicorn
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
piq
pycryptodome
matplotlib
pandas
